<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>SMS - Женская одежда премиум класса</title>

    <link rel="stylesheet" type="text/css" href="/static/css/home.css" th:href="@{/css/home.css}">

</head>
<body>
<header th:replace="fragments/general.html :: header"></header>

<div class="container-cfg">
<h5>Изменение профиля</h5>
<h5 th:text="${firstName}"></h5>

<form th:action="@{/user/editUser}" method="post" >
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Введите имя: </label>
        <div class="col-sm-4">
            <input type="text" name="firstName" class="form-control" th:value="${firstName}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Введите фамилию: </label>
        <div class="col-sm-4">
            <input type="text" name="lastName" class="form-control" th:value="${lastName}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Введите номер телефона: </label>
        <div class="col-sm-4">
            <input type="text" name="phoneNumber" class="form-control" th:value="${phoneNumber}"/>
        </div>
    </div>
    <div>
        <input type="submit" value="Продолжить"/>
    </div>
</form>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>