<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
   <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>SMS - Женская одежда премиум класса</title>

    <link rel="stylesheet" type="text/css" href="/static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" th:href="@{/css/modal.scss}">


</head>
<body>
<header th:replace="fragments/general.html :: header"></header>
          <!--<section class="hero is-primary is-small" sec:authorize="isAuthenticated()">
              <div class="hero-body">
                  <p class="title has-text-centered">
                      Welcome!
                  </p>
                  <p class="subtitle has-text-centered" th:text="${user.getFirstName()}">
                  </p>
              </div>
          </section>-->
          <header class="hero-section">
              <div class="content">
                  <img th:src="@{/img/logo.png}" class="logo" alt="">
                  <p class="sub-heading">Рады вам всегда</p>
              </div>
          </header>
          <section class="product">
              <h2 class="product-category">Рекомендации</h2>
              <button class="pre-btn"><img src="/img/right.png" alt=""></button>
              <button class="nxt-btn"><img src="/img/right.png" alt=""></button>
              <div class="product-container">

                  <div class="product-card" th:each="product : ${prod}"
                  th:if="${product.getId() == 1}">
                      <div class="product-image" th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                         <a th:href="@{/product/{path} (path = ${product.getId()})}"><img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          </a>
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 2}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 3}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 4}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 5}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 6}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 7}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 8}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

              </div>
          </section>
          <!--collection-->
          <section class="collection-container">
              <a href="#" class="collection">
                  <img src="https://kiara-onda.ru/storage/sliders/ZV2vNcuteQJJfeHLZtjZA13aSErOkwswF9zrgSVI.jpeg" alt="">
                  <p class="collection-title">Коллекция <br> Весна-Лето 2022 </p>
              </a>
              <a href="#" class="collection">
                  <img src="https://i.pinimg.com/736x/0c/e9/f3/0ce9f362e233ad4ce2fd4f6e99e63a1c.jpg" alt="">
                  <p class="collection-title">Акции <br> На старую коллекцию </p>
              </a>
              <a href="#" class="collection">
                  <img src="https://ratatum.com/wp-content/uploads/2019/09/indijskie-braslety-56.jpg" alt="">
                  <p class="collection-title">Аксессуары </p>
              </a>
          </section>

          <section class="product">
              <h2 class="product-category">Новинки</h2>
              <button class="pre-btn"><img src="/img/right.png" alt=""></button>
              <button class="nxt-btn"><img src="/img/right.png" alt=""></button>
              <div class="product-container">
                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 1}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 2}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 3}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 4}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 5}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 6}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 7}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 8}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  +7 more cards
              </div>
          </section>
          <section class="product">
              <button class="pre-btn"><img src="/img/right.png" alt=""></button>
              <button class="nxt-btn"><img src="/img/right.png" alt=""></button>
              <div class="product-container">
                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 1}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 2}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 3}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 4}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 5}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 6}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 7}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  <div class="product-card" th:each="product : ${prod}"
                       th:if="${product.getId() == 8}">
                      <div class="product-image"  th:if="${product.getImagePath()}">
                          <span class="discount-tag">50% скидка</span>
                          <img th:src="@{/img/{path} (path = ${product.getImagePath()})}" class="product-thumb" alt="">
                          <button class="card-btn">добавить в корзину</button>
                      </div>
                      <div class="product-info">
                          <h2 class="product-brand" th:text="${product.getName()}"></h2>
                          <p class="product-short-des" th:text="${product.getDescription()}"></p>
                          <span class="price" th:text="${product.getPrice()}"></span><span class="actual-price" th:text="${product.getOldPrice()}"></span>
                      </div>
                  </div>

                  +7 more cards
              </div>
          </section>

          <div class="cont">
          <div class="container-mail">
              <div class="content">
                  <div class="left-side">
                      <div class="address details">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="topic">Address</div>
                          <div class="text-one">Беларусь, Минск</div>
                          <div class="text-two">ул. Зыбицкая 29</div>
                      </div>
                      <div class="phone details">
                          <i class="fas fa-phone-alt"></i>
                          <div class="topic">Телефон</div>
                          <div class="text-one">+375 (29) 356-78-89</div>
                          <div class="text-two">+375 (29) 452-00-00</div>
                      </div>
                      <div class="email details">
                          <i class="fas fa-envelope"></i>
                          <div class="topic">Email</div>
                          <div class="text-one">smsbel@gmail.com</div>
                          <div class="text-two">info.codinglab@gmail.com</div>
                      </div>
                  </div>
                  <div class="right-side">
                      <div class="topic-text">Свяжитесь с нами</div>
                      <p>Если у вас есть какие-либо предложения и пожелания свяжитесь с нами</p>
                      <form action="#">
                          <div class="input-box">
                              <input type="text" placeholder="Enter your name">
                          </div>
                          <div class="input-box">
                              <input type="text" placeholder="Enter your email">
                          </div>
                          <div class="input-box message-box">
                              <textarea placeholder="Enter your message"></textarea>
                          </div>
                          <div class="button">
                              <input type="button" value="Send Now" >
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
<script th:src="@{/js/home.js}"></script>
<footer th:replace="fragments/general.html :: footer"></footer>

</body>
</html>